/* --- СТИЛИ ДЛЯ НОВОГО ПЛЕЕРА --- */
#player {
  background: #FFFFFF;
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(54, 79, 60, 0.4);
  transition: all .5s ease-in-out;
}
#player:hover {
  transform: scale(1.05);
}
.album {
  background: linear-gradient(rgba(54, 79, 60, 0.25), rgba(73, 101, 77, 0.55)), url('/photos/fine-lemon-demon.jpg');
  background-repeat: no-repeat;
  background-size: 300px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}
.heart {
  position: absolute;
  right: 0;
  color: #FFFFFF;
  margin: 10px;
  transition: all .4s ease;
  cursor: pointer;
}
.heart.clicked {
  color: #49654D;
  transform: scale(1.2);
}
.info {
  height: 115px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  transform: translateY(35px);
  transition: all .5s ease-in-out;
}
#player:hover .info {
  transform: translateY(0px);
}
.progress-bar {
  height: 5px;
  width: 73%;
  margin: 18px auto 0 auto;
  background: #C0CFB2;
  border-radius: 10px;
  font-family: 'Questrial', sans-serif;
}
.fill {
  background-color: #8BA989;
  width: 0%; /* Начинаем с 0 */
  height: 0.3rem;
  border-radius: 2px;
}
.time--current, .time--total {
  color: #364F3C;
  font-size: 10px;
  position: absolute;
  margin-top: -2px;
}
.time--current { left: 15px; }
.time--total { right: 15px; }
.currently-playing {
  text-align: center;
  margin-top: -3px;
}
.song-name, .artist-name {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.song-name {
  font-size: .8em;
  letter-spacing: 3px;
  color: #364F3C;
}
.artist-name {
  font-size: .6em;
  letter-spacing: 1.5px;
  color: #53745a;
  margin-top: 5px;
}
.controls {
  display: flex;
  align-items: center;
  font-size: .8em;
  justify-content: center;
  color: #8BA989;
}
.controls .play, .controls .pause {
  margin: 15px 25px;
  color: #3e5a44;
  cursor: pointer;
}
.controls .play, .controls .pause, .controls .next, .controls .previous {
  transition: all .5s ease;
}
.controls .play:hover, .controls .pause:hover, .controls .next:hover, .controls .previous:hover {
  color: #53745a;
}